# 1. Imports

In [13]:
import re

#import nltk
#Uncomment for first run to download datasets.
#nltk.download()

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from io import StringIO


from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

from sklearn.decomposition import TruncatedSVD

from sklearn import metrics
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import jaccard_similarity_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
from gensim.summarization import summarize

C:\ProgramData\Anaconda3\lib\site-packages\requests\__init__.py:80: RequestsDependencyWarning: urllib3 (1.22) or chardet (2.3.0) doesn't match a supported version!
  RequestsDependencyWarning)
C:\ProgramData\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [ ]:
import sys

In [ ]:
!conda install --yes --prefix {sys.prefix} gensim

# 3. Read Dataset and Clean

In [2]:
df = pd.read_csv("C:\\Users\\rbhatia\\Documents\\GreatLearning\\Datasets\\resume_cleaned.csv")

In [3]:
df.sample(10)

,ID,Category,Resume
308,311,Education,Resume Sample Purposes Only Resumes For Teachers
930,942,Engineering,Alan Cheng Department Computer Science Duke Un...
386,389,Advocate,Sample Law CV Jayne Murphy Home address Prior ...
473,477,Business Development,yn Applegarth St Some town NY Home Cell somena...
1205,1219,Aviation,Entry Level Resume Guide This packet intend se...
679,685,Consultant,Management Consulting Analyst Resume Example J...
275,278,Education,Education PhD Education Administration Univers...
909,921,Engineering,JANE BULL CIVIL ENGINEER PERSONAL SUMMARY AREA...
318,321,Education,Theodore Detweiler EDUCATION Bachelor Science ...
1136,1150,Banking,Bank Risk Manager Resume Template Riana Olsen ...

#  SIMILARITY Computation

In [4]:
# This methos creates a common dataset of resumes and job description
def create_resume_jd():
    df = pd.read_csv("C:\\Users\\rbhatia\\Documents\\GreatLearning\\Datasets\\resume_cleaned.csv")
    jd_data = {'ID': [df.ID.max()+1], 
               'Category': ['JD'],
              'Resume': [open('C:\\Users\\rbhatia\\Desktop\\MachineLearning-master\\Job Description.txt', 'r').read()]}
    jd = pd.DataFrame(data=jd_data)
    df = df.append(jd, ignore_index=True)
    return df

In [5]:
# This methos transforms the passed dataframe to its TF-IDF form and computes Cosine Similarities between the 
# JD and each of the resumes in the passed dataframe
def cosine_similarities(data):
    tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
    tfidf_matrix = tf.fit_transform(data['Resume'])
    # JD is the last element in the dataframe. So, computing its cosine similarity with all but last element
    return cosine_similarity(tfidf_matrix[-1], tfidf_matrix[:-1])

In [6]:
# This method fetches the resumes that match closely with the job description from cosine similarity table 
# and prints "n" closets ones, where n is variable
def recommend(data_resume, jd_resume_similarities, num):
    similar = np.argsort(jd_resume_similarities)[0][-num:]
    print("Recommending {} resumes closest to the Job description".format(num)) 
    print("-------")
    for i in (reversed(similar)) :          
        print("CandidateID:{}, Class/Domain:{} (Score:{})".format(data_resume.loc[i].ID,data_resume.loc[i].Category,jd_resume_similarities[0][i]))

In [7]:
data = create_resume_jd()

In [8]:
similarities = cosine_similarities(data)
recommend(data, similarities, num = 10)

Recommending 10 resumes closest to the Job description
-------
CandidateID:224, Class/Domain:Information Technology (Score:0.04909904361851691)
CandidateID:445, Class/Domain:Business Development (Score:0.03941860523735159)
CandidateID:1126, Class/Domain:Banking (Score:0.03171263915356968)
CandidateID:436, Class/Domain:Business Development (Score:0.03124659177014561)
CandidateID:460, Class/Domain:Business Development (Score:0.02874774787056558)
CandidateID:855, Class/Domain:Finance (Score:0.027696475240907622)
CandidateID:222, Class/Domain:Information Technology (Score:0.025759115055994482)
CandidateID:905, Class/Domain:Engineering (Score:0.025224384899043766)
CandidateID:984, Class/Domain:Engineering (Score:0.025224384899043766)
CandidateID:216, Class/Domain:Information Technology (Score:0.02336294999677815)

# Calculating Scores using Knn

In [ ]:
# Reading  job Description File

In [52]:
f = open("C:\\Users\\rbhatia\\Desktop\\MachineLearning-master\\Job Description.txt" , 'r')

In [53]:
job_desc = f.read()

print(job_desc)

Specific responsibilities include:
Developing statistical natural language understanding (NLU) models that elevate the customer experience.
Ensuring data quality throughout all stages of acquisition and processing, including data sourcing/collection, ground truth generation, normalization, transformation, and cross-lingual alignment/mapping.
Auditing metrics data and success criteria.
Work with engineers to develop efficient data querying infrastructure for both offline and online use cases.
Basic Qualifications
Bachelor or Master's degree in highly quantitative field (CS, machine learning, mathematics, statistics) or equivalent experience.
Experience with R, Python, Weka, SAS, Matlab or other statistical/machine learning software.
Experience applying various machine learning techniques, and understanding the key parameters that affect their performance.
Experience developing experimental and analytic plans for data modeling processes, use of strong baselines, and the ability to accurately determine cause and effect relationships.
Understanding of relevant statistical measures such as confidence intervals, significance of error measurements, development and evaluation data sets, etc.
Preferred Qualifications
3+ years of experience with machine learning, statistical modeling, data mining, and analytics techniques.
Experience in one or more natural language processing topics: tagging, syntactic parsing, word sense disambiguation, topic modeling; contextual text mining, and application of deep learning to NLP.
Previous experience in a ML or data scientist role with a large technology company.
Fluency in a language other than English

In [ ]:
# Using Gensim Library for Summarization of the text

In [54]:
job_var = str(job_desc)
job_var = summarize(job_var, word_count=100)
job_desc = [job_var]

In [ ]:
# Summary of job_description

In [55]:
print(job_var)

Developing statistical natural language understanding (NLU) models that elevate the customer experience.
Experience developing experimental and analytic plans for data modeling processes, use of strong baselines, and the ability to accurately determine cause and effect relationships.
Understanding of relevant statistical measures such as confidence intervals, significance of error measurements, development and evaluation data sets, etc.
3+ years of experience with machine learning, statistical modeling, data mining, and analytics techniques.
Experience in one or more natural language processing topics: tagging, syntactic parsing, word sense disambiguation, topic modeling; contextual text mining, and application of deep learning to NLP.

In [ ]:
# Featurization and vector conversion

In [56]:
vectorizer = TfidfVectorizer(stop_words='english')
vectorizer.fit(job_desc)
job_vector = vectorizer.transform(job_desc)

In [57]:
Job_Desc = job_vector.toarray()

In [58]:
Job_Desc.shape

(1, 55)

In [ ]:
# Reading Resume File

In [59]:
resume = pd.read_csv("C:\\Users\\rbhatia\\Documents\\GreatLearning\\Datasets\\resume_cleaned.csv")

In [25]:

df = pd.read_csv("C:\\Users\\rbhatia\\Documents\\GreatLearning\\Datasets\\resume_cleaned.csv")
jd_data = {'ID': [df.ID.max()+1], 
               'Category': ['JD'],
              'Resume': [open('C:\\Users\\rbhatia\\Desktop\\MachineLearning-master\\Job Description.txt', 'r').read()]}
jd = pd.DataFrame(data=jd_data)
df = df.append(jd, ignore_index=True)

In [26]:
df.sample(10)

,ID,Category,Resume
291,294,Education,Monterey County HEALTH EDUCATION ASSISTANT DEF...
735,743,Digital Media,Curriculum Vitae Gary King April Contact Insti...
22,23,HR,Shweta XXX Mobile mail shweta gmail com Career...
206,209,Information Technology,Tosin Amuda Department Computer Sciences Unive...
458,462,Business Development,Entry Level Business Analyst SAMPLE RESUME ADV...
939,951,Engineering,CURRICULUM VITAE Personal Details Family Name ...
402,406,Advocate,CURRICULUM VITAE Kimberly Ambrose Senior Lectu...
133,135,Managment,Sharon Rodgers Main Street San Francisco CA Ho...
1103,1117,Banking,Jacob Clarke Mitchell Bridge Road Athens GA MB...
61,62,Designing,Phone Education Website Email lesliexia com Ma...

In [60]:
resume_list=resume["Resume"].values.tolist()

In [61]:
Ordered_list_Resume = []
Resume_Vector=[]

In [29]:
# First Converting Text into Sentences ,summarize needs data into sentences 
# Summarizing the resume content
# Doing TFID Vectorization and Putting into list

In [62]:
st=""
counter=0
for i in resume_list: 
    Ordered_list_Resume.append(counter)
    a=i.split(" ")
    j=0
    counter=counter+1
    st=""
    for k in a:
        if(len(a) < 10):
            continue
        if j == 10 :
            st=st+'\n'
            j=0
        st=st+k+" "
        j=j+1   
    resume_summ = summarize(str(st), word_count=100)
    resume_var = [resume_summ]
    resume_vector = vectorizer.transform(resume_var)
    Resume_Vector.append(resume_vector.toarray())

In [63]:
len(Resume_Vector)

1206

In [32]:
job_desc

['Developing statistical natural language understanding (NLU) models that elevate the customer experience.\nExperience developing experimental and analytic plans for data modeling processes, use of strong baselines, and the ability to accurately determine cause and effect relationships.\nUnderstanding of relevant statistical measures such as confidence intervals, significance of error measurements, development and evaluation data sets, etc.\n3+ years of experience with machine learning, statistical modeling, data mining, and analytics techniques.\nExperience in one or more natural language processing topics: tagging, syntactic parsing, word sense disambiguation, topic modeling; contextual text mining, and application of deep learning to NLP.']

In [ ]:
# Running Knn and computing

In [ ]:
#Ordered_list_Resume_Score=[]

In [64]:
Ordered_list_Resume_Score = []
for i in Resume_Vector:
        samples = i
        neigh = NearestNeighbors(n_neighbors=1)
        neigh.fit(samples) 
        NearestNeighbors(algorithm='auto', leaf_size=30)

        Ordered_list_Resume_Score.extend(neigh.kneighbors(Job_Desc)[0][0].tolist())

#Z = [x for _,x in sorted(zip(Ordered_list_Resume_Score,Ordered_list_Resume))]
#print(Ordered_list_Resume_Score)

In [35]:
len(Ordered_list_Resume_Score)

1206

In [66]:
similar = np.argsort(Ordered_list_Resume_Score)[-10:]
print("Recommending {} resumes closest to the Job description".format(10)) 
print("-------") 
for i in (reversed(similar)) :   
    print("CandidateID:{}, Class/Domain:{} (Score:{})".format(df.loc[i].ID,df.loc[i].Category,Ordered_list_Resume_Score[i]))

Recommending 10 resumes closest to the Job description
-------
CandidateID:971, Class/Domain:Engineering (Score:1.3457406003741532)
CandidateID:318, Class/Domain:Education (Score:1.3457406003741532)
CandidateID:934, Class/Domain:Engineering (Score:1.3457406003741532)
CandidateID:332, Class/Domain:Education (Score:1.3457406003741532)
CandidateID:329, Class/Domain:Education (Score:1.3457406003741532)
CandidateID:199, Class/Domain:Information Technology (Score:1.3457406003741532)
CandidateID:47, Class/Domain:Designing (Score:1.3457406003741532)
CandidateID:322, Class/Domain:Education (Score:1.3457406003741532)
CandidateID:316, Class/Domain:Education (Score:1.3457406003741532)
CandidateID:1113, Class/Domain:Public Relations (Score:1.3457406003741532)